/* body {
  background-color: black;
} */

#container {
  height: 100vh;
  width: 100%;
  display: flex;
}

#main-box {
  height: 500px;
  width: 500px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}
